#red-ui-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  padding: 0px 0px 0px 0px;
}

#red-ui-header span.red-ui-header-logo {
  margin: 2px 0px 0px 0px;
  padding: 0px 0px 0px 15px;
  background-color: #f8f8f8;
  color: #888;
  border: 1px solid #888;
  box-sizing: border-box;
  width: 180px;
}

#red-ui-header li.open .button {
  background: #fff;
  border-color: #fff;
}

#red-ui-header .button-group {
  border-color: #fff;
  background: #fff;
}

#red-ui-header .button {
  border: 1px solid rgba(255,255,255,0.2);
}

#red-ui-header .button:hover {
  border: 1px solid rgba(255,255,255,0.2);
}

#red-ui-header .button:active, #red-ui-header .button.active {
  border-color: #fff;
  background: #fff;
}

#red-ui-header ul.red-ui-menu-dropdown {
  background: #fff;
  border: 1px solid rgba(255,255,255,0.2);
}

#red-ui-header ul.red-ui-menu-dropdown li a {
  color: #777;
}

#red-ui-header ul.red-ui-menu-dropdown > li:hover > a, #red-ui-header ul.red-ui-menu-dropdown > li:focus > a {
  background: #f0f0f0 !important;
}

.red-ui-menu-dropdown-submenu > a::before {
  border-right-color: #777;
}

.red-ui-menu-dropdown * .fa-check-square {
  color: #777;
}

.red-ui-menu-dropdown-submenu.disabled > a::before {
  border-right-color: #ddd;
}

#red-ui-header ul.red-ui-menu-dropdown li.red-ui-menu-divider {
  background: #eaeaea;
  border-bottom-color: #f3f3f3;
}

#red-ui-header ul#red-ui-header-button-deploy-options-submenu li a {
  color: #777;
}

#red-ui-header #red-ui-header-button-deploy.disabled {
  cursor: default;
  background: #fff;
  color: #fff !important
}

.red-ui-popover {
  color: #777;
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}
.red-ui-popover.red-ui-popover-right:after {
    border-right-color: #f0f0f0;
}
.red-ui-popover.red-ui-popover-right:before {
    border-right-color: #f0f0f0;
}

.red-ui-popover.red-ui-popover-left:after {
    border-left-color: #f0f0f0;
}
.red-ui-popover.red-ui-popover-left:before {
    border-left-color: #f0f0f0;
}

.red-ui-popover.red-ui-popover-bottom:after {
    border-bottom-color: #f0f0f0;
}
.red-ui-popover.red-ui-popover-bottom:before {
    border-bottom-color: #f0f0f0;
}

.red-ui-popover.red-ui-popover-top:after {
    border-top-color: #f0f0f0;
}
.red-ui-popover.red-ui-popover-top:before {
    border-top-color: #f0f0f0;
}
