<div class="container-fluid tab-panel">
  <div class="col-sm-3 col-md-3 scrollable">
    <br>
    <h4>基本設定</h4>
    <br>
    <div class="module-image">
      <img src="../images/HB-6.png" width="200px" />
    </div>
    <br>

    <dropdown class="moduleLabel" :text="selectedModuleLabel">
      <li v-for="module of moduleList" class="module-list" :class="{disabled:!module.enable}" >
        <a href="#" :data-device="module.device" :data-name="module.name" :data-enable="module.enable" @click="SelectModule" :disabled="!module.enable">
          {{module.label}}
        </a>
      </li>
    </dropdown>
  </div>

  <div v-show="selectedModule!=''" class="col-sm-9 col-md-9 scrollable">
    <br>
    <div class="well">
      <div>
        <label>モジュール名</label>
        <input :class="{error:moduleNameAlert.length}" type="text" v-model="moduleName" @input="ModuleNameCheck"/>
        <h6>設置場所等、識別しやすい名前を付けてください。</h6>
        <h6 v-if="moduleNameAlert.length" class="error">{{moduleNameAlert}}</h6>
      </div>
      
      <br>
      <h5>機能設定</h5>
      <div class="form-group" id="basicFuncSel">
        <div class="row" v-for="(item, idx) of typeTable" v-show="item.name != ''">
          <div class="col-sm-offset-1 col-sm-10">
            <radio :selected-value="idx" v-model="selectedType" type="primary">
              {{ item.name }}
            </radio>
          </div>
        </div>
      </div>

      <div v-for="(item, idx) of funcTable" v-show="ItemCheck(idx)">
        <div class="row well well-transparent">
          <div class="col-md-3">
            <h5>{{item.name}}</h5>
          </div>
          <div class="col-md-4">
            <input class="func-name" type="text" v-model="item.value"/>
          </div>
          <div v-show="item.option != null">
            <div class="item-label">
            {{item.option}}
            </div>
            <input class="option-param" type="text" v-model="item.optionValue"/>
            <div class="item-label">
            {{item.optionUnit}}
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="pull-right">
        <button class="btn btn-primary" type="button" @click="Submit">モジュール書き込み</button>
      </div>
    </div>
  </div>
</div>
