<div class="container-fluid tab-panel">
  <div v-if="hueBridges && (hueBridges.length > 0)" class="row">
    <div class="col-sm-3 col-md-3">
      <br>
      <h4>Hue</h4>
    </div>
    <div class="col-sm-7 col-md-7 scrollable">
      <br>
      <div v-for="bridge of hueBridges">
        <div class="row">
          <div class="col-md-4">
            Bridge {{bridge.id}}
          </div>
          <div v-if="bridge.state==0" class="col-md-4">
            <button @click="HuePairing" type="button" class="btn btn-primary btn-xs btn-margin" :data-id="bridge.id">
              ペアリング
            </button>
          </div>
          <div v-if="bridge.state>=1" class="col-md-4">
            <button :disabled="bridge.state==2" @click="HueSearch" type="button" class="btn btn-primary btn-xs btn-margin" :data-id="bridge.id">
              新規ライトのサーチ
            </button>
          </div>
        </div>
        <h6>
          {{bridge.message}}
        </h6>
        <br>
        <div v-for="(light,idx) of bridge.lights" class="row">
          <div class="col-md-3 col-md-offset-1">
            <input class="func-name" type="text" v-model="light.name"/>
          </div>
          <div class="col-md-4">
            <button @click="LightFlash" type="button" class="btn btn-primary btn-xs btn-margin" :data-id="bridge.id" :data-light="idx">
              フラッシュ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="separation">
  <div v-if="hap" class="row">
    <div class="col-md-3">
      <br>
      <h4>HAP Device</h4>
    </div>
    <div class="col-md-7 scrollable">
      <br>
      <div class="row">
        <img src="../images/home.png" width="40px"/>
        <div class="well well-homekit">
          {{hapPin}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <H5>HAPデバイスID</h5>
        </div>
        <div class="col-md-8">
          <input type="text" v-model="hapDeviceId"/>
        </div>
        <br>
      </div>
    </div>
  </div>
  <hr v-if="hap" class="separation">
  <div v-if="smartMeter" class="row">
    <div class="col-md-3">
      <br>
      <h4>SmartMeter</h4>
    </div>
    <div class="col-md-7 scrollable">
      <br>
      <div class="row">
        <div class="col-md-4">
          <H5>Wi-SUNドングル</h5>
        </div>
        <div class="col-md-8">
          <select class="form-control wisun-select-menu btn-inline" v-model="smartMeterAdapter">
            <option v-for="item of smartMeterAdapters" :value="item.id">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <H5>電力計ＩＤ</h5>
        </div>
        <div class="col-md-8">
          <input v-for="(id, idx) in smartMeterID" class="smart-meter-id" type="text" :class="SmartMeterIDValid(idx)" v-model="smartMeterID[idx]"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <H5>電力計パスワード</h5>
        </div>
        <div class="col-md-8">
          <input v-for="(id, idx) in smartMeterPassword" class="smart-meter-id" type="text" :class="SmartMeterPasswordValid(idx)" v-model="smartMeterPassword[idx]"/>
        </div>
      </div>
    </div>
  </div>
  <hr v-if="smartMeter" class="separation">
  <div class="row">
    <div class="col-md-10">
      <div class="pull-right">
        <button class="btn btn-sm btn-primary" type="button" @click="Submit">設定</button>
      </div>
    </div>
  </div>
</div>
