<div class="container-fluid tab-panel">
  <div class="col-sm-4 col-md-4 scrollable">
    <br>
    <h4>ＴＶ設定</h4>
    <div class="well well-transparent">
      <br>
      <div class="row">
        <div class="col-md-4">
          <h5>登録名</h5>
        </div>
        <div class="col-md-8">
          <input class="ui-func-name" :class="{error:!nameValid}" type="text" v-model="name" @input="NameCheck"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2">
          <h6>識別しやすい名前を付けてください。</h6>
          <h6 v-if="nameAlert.length" class="error">{{nameAlert}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h5>コメント</h5>
        </div>
        <div class="col-md-8">
          <input class="ui-func-name" :class="{error:!commentValid}" type="text" v-model="comment" @input="CommentCheck"/>
        </div>
      </div>
      <div class="row" v-if="commentAlert.length">
        <div class="col-md-offset-2">
          <h6 class="error">{{commentAlert}}</h6>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-offset-1">
          <alert :type="(sequence>0)&&(sequence<4)?'success':'default'">
            1.TVのリモコンを学習します。
          </alert>
          <alert :type="(sequence==4)?'success':'default'">
            2.選局番号と放送局名の対応表を設定し登録します。
          </alert>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-offset-3">
          <button v-show="sequence==0" :disabled="!nameValid||!commentValid" class="btn btn-primary btn-sm btn-margin" @click="Start">開始</button>
          <button v-show="sequence>0" class="btn btn-danger btn-sm btn-margin" @click="Stop">中止</button>
          <button v-show="existName && (sequence==0)" class="btn btn-primary btn-sm btn-margin" @click="Modify">チャンネル修正</button>
          <button :disabled="sequence!=4" class="btn btn-primary btn-sm btn-margin" @click="Submit">保存</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-7 col-md-7 scrollable">
    <div v-show="(sequence>0) && (sequence < 4)" class="well well-transparent">
      <table class="table table-striped remocon-table">
        <tr>
          <th class="col-md-2">ボタン</th>
          <th class="col-md-9">コード</th>
        </tr>
        <tr v-for="(item, idx) of remoconTable" :class="[{'remocon-error':!CodeValid(idx)}, {success: (lastPtr==idx)}]">
          <td>{{item.label}}</td>
          <td>{{item.info}}</td>
        </tr>
      </table>
    </div>

    <div v-show="sequence==4" class="well well-transparent">
      <table class="table table-striped">
        <tr>
          <th class="col-md-2">ボタン</th>
          <th class="col-md-3" v-for="net of ['UHF','BS','CS']">
            <input type="checkbox" v-model="channelTable[net].display" :data-net="net"/>
            {{channelTable[net].label}}
          </th>
        </tr>
        <tr v-for="ch of 12">
          <td>{{ch}}</td>
          <td v-for="net of ['UHF', 'BS', 'CS']">
            <fieldset :disabled="!channelTable[net].display">
              <input type="checkbox" v-model="channelTable[net][ch].display"/>
              <input class="channelList" type="text" v-model="channelTable[net][ch].label"/>
            </fieldset>
          </td>
      </table>
    </div>
    
  </div>
</div>
