<div class="container-fluid tab-panel">
  <div class="col-sm-4 col-md-4 scrollable">
    <div class="well well-uisel">
      <div class="row well well-transparent">
        <div class="col-md-4">
          <h5>項目の種類</h5>
        </div>
        <div class="col-md-8">
          <select class="form-control ui-select-menu" v-model="itemType">
            <option v-for="type of validTypeTable" :value="type.value" :disabled="type.value=='disabled'">
              {{type.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="row well well-transparent">
        <div class="col-md-4">
          <h5>項目名</h5>
        </div>
        <div class="col-md-8">
          <input class="input-transparent ui-func-name" type="text" :class="{error:nameAlert.length}" v-model="itemName" @input="NameCheck"/>
        </div>
      </div>
      <div class="row well well-transparent" v-if="nameAlert.length">
        <div class="col-md-offset-2">
          <h6 class="error">{{nameAlert}}</h6>
        </div>
      </div>

      <div v-show="itemType!='room'" class="row well well-transparent">
        <div class="col-md-4">
          <h5>ルーム</h5>
        </div>
        <div class="col-md-8">
          <select class="form-control ui-select-menu" v-model="itemRoom">
            <option v-for="room of uiTable.RoomList" :value="room">
              {{room}}
            </option>
          </select>
        </div>
      </div>
      <br>

      <div v-show="(itemType!='room')&&(itemType!='hue')" class="row well well-transparent" v-for="(stat, statIdx) of status">
        <div class="col-md-4">
          <h5>ステータス{{statIdx}}</h5>
        </div>
        <div class="col-md-8">
          <select class="form-control ui-select-menu" v-model="status[statIdx]">
            <option v-for="sensor of sensorList" :value="sensor">
              {{sensor.label}}
            </option>
          </select>
        </div>
      </div>
      <br v-show="(itemType!='room')&&(itemType!='hue')">
      
      <div v-show="itemType=='aircon'" class="row well well-func">
        <div class="row well well-transparent">
          <div class="col-md-4">
            <h5>リモコンGp</h5>
          </div>
          <div class="col-md-8">
            <select class="form-control ui-select-menu" v-model="airconGroup">
              <option v-for="(group, idx) of remocon.remoconGroup" v-if="group.type=='aircon'" :value="idx">
                {{group.comment}}
              </option>
            </select>
          </div>
        </div>
        <div class="row well well-transparent">
          <div class="col-md-4">
            <h5>モジュール</h5>
          </div>
          <div class="col-md-8">
            <select class="form-control ui-select-menu" v-model="airconModule">
              <option v-for="module of remoconTxList" :value="module.deviceName">
                {{module.label}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br v-show="itemType=='aircon'">
      
      <div v-show="(itemType!='room')&&(itemType!='status')&&(itemType!='hue')" class="row well well-func" v-for="(btn,btnIdx) of button" v-if="btnIdx<buttonNum">
        <div class="row well well-transparent">
          <div class="col-md-4">
            <h5>ボタン{{btnIdx}}</h5>
          </div>
          <div class="col-md-8">
            <select class="form-control ui-select-menu" v-model="btn.command">
              <option v-for="cmd of commandList" :value="cmd">
                {{cmd.label}}
              </option>
            </select>
          </div>
        </div>
        <div v-show="btn.command.type=='mode'" class="row well well-transparent">
          <div class="col-md-4">
            <h5>モード</h5>
          </div>
          <div class="col-md-8">
            <select class="form-control ui-select-menu" v-model="btn.mode">
              <option v-for="mode of btn.command.mode" :value="mode">
                {{mode}}
              </option>
            </select>
          </div>
        </div>
        <div v-show="btn.command.type=='remocon'" class="row well well-transparent">
          <div class="col-md-4">
            <h5>リモコン</h5>
          </div>
          <div class="col-md-8">
            <select class="form-control ui-select-menu" v-model="btn.remocon">
              <option v-for="(item,idx) of remocon.remoconTable" :value="idx">
                {{item.comment}}
              </option>
            </select>
          </div>
        </div>
        <div v-show="btn.command.type=='macro'" class="row well well-transparent">
          <div class="col-md-4">
            <h5>リモコンマクロ</h5>
          </div>
          <div class="col-md-8">
            <select class="form-control ui-select-menu" v-model="btn.macro">
              <option v-for="(item,idx) of remocon.remoconMacro" :value="idx">
                {{item.comment}}
              </option>
            </select>
          </div>
        </div>
        <div v-show="(btn.command.type=='remocon')||(btn.command.type=='macro')" class="row well well-transparent">
          <div class="col-md-4">
            <h5>モジュール</h5>
          </div>
          <div class="col-md-8">
            <select class="form-control ui-select-menu" v-model="btn.module">
              <option v-for="(item,idx) of remoconTxList" :value="item.deviceName">
                {{item.label}}
              </option>
            </select>
          </div>
        </div>
        <div v-show="(btn.command.type=='remocon')||(btn.command.type=='macro')" class="row well well-transparent">
          <div class="col-md-4">
            <h5>ラベル</h5>
          </div>
          <div class="col-md-8">
            <input class="ui-func-name" type="text" v-model="btn.label"/>
          </div>
        </div>
      </div>
      <br v-show="(itemType!='room')&&(itemType!='status')&&(itemType!='hue')">
      
      <div v-show="itemType=='tv'" class="row well well-func">
        <div class="row well well-transparent">
          <div class="col-md-4">
            <h5>リモコンGp</h5>
          </div>
          <div class="col-md-8">
            <select class="form-control ui-select-menu" v-model="tvGroup">
              <option v-for="(group,idx) of remocon.remoconGroup" v-if="group.type=='tv'" :value="idx">
                {{group.comment}}
              </option>
            </select>
          </div>
        </div>
        <div class="row well well-transparent">
          <div class="col-md-4">
            <h5>モジュール</h5>
          </div>
          <div class="col-md-8">
            <select class="form-control ui-select-menu" v-model="tvModule">
              <option v-for="module of remoconTxList" :value="module.deviceName">
                {{module.label}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br v-show="itemType=='tv'">

      <div v-show="itemType=='hue'" class="row well well-func">
        <div class="row well well-transparent">
          <div class="col-md-4">
            <h5>ライト</h5>
          </div>
          <div class="col-md-8">
            <select class="form-control ui-select-menu" v-model="hueLight">
              <option v-for="light of hueLights" :value="light">
                {{light.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br v-show="itemType=='hue'">

    </div>
    <br>
    
    <div class="row ui-submit-btn">
      <button class="btn btn-primary btn-sm pull-right" @click="Submit">
        {{(selectedItem.index==-1)?'追加':'修正'}}
      </button>
    </div>
  </div>
  
  
  <div class="col-sm-7 col-md-7 scrollable">
    <div class="well well-uisel" id="ui-table">
      <table class="table ui-table" v-for="(room, roomIdx) of uiTable.RoomList">
        <tr class="gray" @click="SelectItem('room', roomIdx)" data-id="room" :class="{success:('room'==selectedItem.type)&&(roomIdx==selectedItem.index)}">
          <th class="col-md-4">{{room}}</th>
          <th class="col-md-2"></th>
          <th class="col-md-2"></th>
          <th class="col-md-4">
            <button v-show="RoomDeleteEnable(room)" class="btn btn-xs btn-danger delete-btn pull-right" @click="DeleteItem('room', room)">
              -
            </button>
          </th>
        </tr>
        <tr v-for="(item, itemIdx) of uiTable.ItemList" v-if="item.room==room" @click="SelectItem(item.type, itemIdx)" :data-id="itemIdx" :class="{success:('room'!=selectedItem.type)&&(itemIdx==selectedItem.index)}">
          <td>{{item.label}}</td>
          <td>{{StatusItem(item, 0)}}</td>
          <td>{{StatusItem(item, 1)}}</td>
          <td>
            <button v-if="item.type=='aircon'" class="btn btn-default btn-xs btn-margin">
              aircon mode
            </button>
            <div v-if="item.type=='hue'" class="btn-inline">
              <button class="btn btn-default btn-xs btn-margin">
                ctemp
              </button>
              <button class="btn btn-default btn-xs btn-margin">
                bright
              </button>
            </div>
            <button v-for="(btn, idx) of item.buttons" class="btn btn-primary btn-xs btn-margin">
              {{ButtonItem(item, idx)}}
            </button>
            <button v-if="item.type=='tv'" class="btn btn-default btn-xs btn-margin">
              ch
            </button>
            <button v-show="('room'!=selectedItem.type)&&(itemIdx==selectedItem.index)" class="btn btn-xs btn-danger delete-btn pull-right" @click="DeleteItem(item.type, itemIdx)">
              -
            </button>
          </td>
        <tr>
      </table>
      <table class="table ui-table">
        <tr class="blue" :class="{success:selectedItem.index==-1}" @click="SelectItem('new', -1)">
          <th class="col-md-4">新規項目追加</th>
          <th class="col-md-2"></th>
          <th class="col-md-2"></th>
          <th class="col-md-4"></th>
        </tr>
      </table>
    </div>
  </div>
</div>
