@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NotoSansCJKjp-DemiLight.woff');
  font-display: swap;
}

@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/NotoSansCJKjp-Medium.woff');
  font-display: swap;
}

@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NotoSansCJKjp-Bold.woff');
  font-display: swap;
}

@font-face {
  font-family: "NotoSansMonoCJKjp";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoSansMonoCJKjp-Regular.woff');
  font-display: swap;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Noto Sans CJK JP', 'NotoSansCJKjp', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, h7 {
  white-space:nowrap;
}

h1.error, h2.error, h3.error, h4.error, h5.error, h6.error, h7.error {
  color: red;
  white-space: normal;
}

.radio {
  padding-top: 0px !important;
  margin: 4px;
}

input.success {
  background-color: #dff0d8;
}

input.error {
  background-color: #f2dede;
}

.well {
  background-color: white;
}

.well-transparent {
  height:85%;
  width:100%;
  padding:0.3% 0 0.3% 0;
  margin:0 0;
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
  box-shadow: none;
}

.well .row {
  margin: 0;
}

.well h5 {
  margin: 0;
  display:inline-block;
  vertical-align: middle;
}

.well input {
  padding: 0;
}

.well input:disabled {
  color: #ccc;
}

.well select:disabled {
  color: #ccc;
}

.alert {
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: 0.9em;
}

.scrollable {
  position: relative !important;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  padding: 10px 15px;
}

.code {
  width: 100%;
  font-family: Courier, 'NotoSansMonoCJKjp', monospace;
  font-size: 13px;
}

textarea {
    font-family: 'Monaco', 'NotoSansMonoCJKjp', monospace;
}



